.work1{
    width: 1,440px;
    height: 1330px;
    background-color: #051E37;
}
.work2{
    width: 835px;
    height: 563px;
    left: 473px;
    top: 1038px;
    margin-left: 5px;
    display: block;

}
.work3{
 width: 405px;
 height: 108px;
 top: 1060px;
 left: 828px;
 font-size: 40px;
 line-height: 100%;
 letter-spacing: 0%;
 color:#051E37;
 margin-left: 80px;
position: absolute;
text-align: right;
margin-top: -1050px;
}
.work4{
    width: 228.60050964355483px;
    height: 200.00003051757838px;
    left: 338px;
    top: 1097.56px;
    margin-left: 320px;
}
.work5{
    display: flex;
}
.work15{
    width: 1,440px;
    height: 300px;
    top: 2250px;
    background-color: #1389FF66;
}
.work16{
    display: flex;
    gap: 200px;
}
.work17{
    display: grid;
    margin-left: 50px;
    margin-top: 80px;
}
.work18{
    width: 427px;
    height: 27px;
    top: 2474px;
    left: 209px;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.work19{
    width: 535px;
    height: 95px;
    top: 2352px;
    left: 155px;
}
.work20{
    display: flex;
}
.work21{
    display: grid;
    margin-top: 40px;
    margin-left: 180px;
    gap: 40px;
}
.work22{
    width: 100px;
    height: 27px;
    top: 2289px;
    left: 833px;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background-color: #1389FF66;
    width: 140px;
}
.work23{
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background-color: #1389FF66;
    width: 79px;
    height: 27px;
    top: 2353px;
    left: 833px;
    width: 95px;
}
.work24{
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background-color: #1389FF66;
    width: 144px;
    height: 27px;
    top: 2417px;
    left: 833px;
    width: 170px;
}
.work25{
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background-color: #1389FF66;
    width: 55px;
    height: 27px;
    top: 2481px;
    left: 833px;
    width: 65px;
}
.work26{
    display: grid;
    margin-top: 40px;
    margin-left: 90px;
    gap: 40px;
}
.work27{
    width: 93px;
    height: 27px;
    top: 2289px;
    left: 1120px;
     font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background-color: #1389FF66;
   width: 105px;
}
.work28{
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background-color: #1389FF66;
    width: 106px;
    height: 27px;
    top: 2353px;
    left: 1120px;
    width: 120px;
}
.work29{
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background-color: #1389FF66;
    width: 83px;
    height: 27px;
    top: 2417px;
    left: 1120px;
    width: 99px;
}
.work30{
     font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background-color: #1389FF66;
    width: 117px;
    height: 27px;
    top: 2481px;
    left: 1120px;
    width: 130px;
}
.work6{
    width: 150px;
    height: 55px;
    left: 533px;
    top: 1502px;
    width: 118px;
    height: 33px;
    top: 9px;
    left: 16px;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    margin-top: 450px;
    margin-left: 600px;
}
.work7{
    display: flex;
}
.work8{
  display: grid;
}
.work9{
    width: 314px;
    height: 450px;
    left: 63px;
    top: 10px;
    margin-left: 80px;
}
.work10{
    background-color: #FF4D4B;
    width: 40px;
    height: 40px;
    left: 86px;
    top: 504px;
    border: 3px solid white;
    border-radius: 50px;
}
.work11{
    display: flex;
    gap: 20px;
    margin-left: 130px;
}
.work12{
    width: 40px;
    height: 40px;
    top: 504px;
    left: 162px;
    background-color: #FE016C;
    border-radius: 50px;
}
.work13{
    width: 40px;
    height: 40px;
    top: 504px;
     left: 238px;
     background-color: #000000;
     border-radius: 50px;
}
.work14{
  background-color: #FEA63A;
  width: 40px;
    height: 40px;
    top: 504px;
    border-radius: 50px;
    left: 314px;
}
.work31{
    width: 751px;
    height: 293px;
    top: 1720px;
    left: 538px;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-align: right;
    margin-left: -100px;
}
.work32{
   color: #00D1FF;
   width: 460px;
   height: 68px;
   top: 2023px;
   left: 827px;
   font-size: 40px;
   line-height: 100%;
   letter-spacing: 0%;
   margin-left: 320px;
   text-transform: lowercase;
   margin-top: -150px;
}
.work33{
    display:flex ;
}
.work34{
    background-color: #1389FF78;
    width: 90.24019622802734px;
    height: 85.22657012939453px;
    top: 1790.11px;
    left: 592.76px;
    border-radius: 50px;
    position:absolute;
    margin-top: -950px;
    margin-left: 100px;
}
.work35{
    border: 2.29px solid #FFFFFF;
    width: 90.23961639404297px;
    height: 85.22657012939453px;
    top: 1762px;
    left: 563px;
    border-radius: 50px;
    margin-left: 250px;
    margin-top: 30px;
}
.work36{
    margin-top: 70px;
}
.work37{
    display: grid;
}
.work38{
    width: 227px;
    height: 20px;
    top: 2113px;
    left: 1038px;
    border: 3px;
     margin-left: 400px;
     margin-top: -100px;
}
.work39{
    width: 227px;
    height: 20px;
    left: 1038px;
    top: 2131px;
    border: 3px;
     margin-left: 400px;
     margin-top: -90px;
}
.work40{
    display: grid;
    
}
.work41{
    color: #E3217D;
    width: 290px;
    height: 136px;
    top: 1290px;
    left: 133px;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-top: -15px;
    margin-left: 100px;
}
.work42{
    color: #FFFFFF;
    width: 343px;
    height: 204px;
    top: 1397px;
    left: 174px;
    font-size: 150px;
    line-height: 100%;
    letter-spacing: 0%;
     margin-top: -60px;
     margin-left: 200px;
}
.work43{
    display: grid;
}